<html>

<head>
  <title>Tsilikas Ioannis</title>
</head>

<body>
  <div class="container">
    <div class="card-head">
      <img src="assets/me.jpg" class="photo">
      <span>
        Tsilikas Ioannis
        <div class="card-title">
          Software Developer
        </div>
      </span>
    </div>
    <br>
    <div class="contact-container">
      Contact
      <a href="mailto:j.tsilikas.j@gmail.com" class="contact">
        <img src="assets/mail-icon.png" class="mail-icon">j.tsilikas.j@gmail.com
      </a>
    </div>
    <div class="skills">
      Skills
      <img src="assets/skill-icons.png" class="skill-icons">
    </div>
    Other Links
    <div class="links">
      <a href="https://github.com/Ioatsi">
        <img src="assets/git-icon.png" class="icons">
      </a>
      <a href="https://www.behance.net/johntsilikas">
        <img src="assets/behance-icon.png" class="icons">
      </a>
      <a href="https://www.linkedin.com/in/ioannis-tsilikas-92390a276/">
        <img src="assets/linkedin-icon.png" class="icons">
      </a>
      <a href="assets/cv.pdf" target="_blank"><img src="assets/cv.png" class="icons"></a>
    </div>
  </div>
</body>

</html>