<html>
<head>
  <title>Tsilikas Ioannis</title>  
</head>
<body>
  <div class="container">
    <div class="card-head">
      <img src="assets/me.jpg" class="photo">
      <span>
        Τσιλίκας Ιωάννης
          <div class="card-title">
            Web Developer & Graphic Designer
          </div>
      </span>
    </div>
    <br>
    Γνώσεις
    <div class="skills">
      <img src="assets/skill-icons.png" class="skill-icons">
    </div>
    Επικοινωνία
    <a href="mailto:j.tsilikas.j@gmail.com" class="contact">
      <img src="assets/mail-icon.png" class="mail-icon">j.tsilikas.j@gmail.com
    </a>
    Πορτφόλιο & Βιογραφικό
    <div class="links">
      <a href="https://github.com/Ioatsi">
        <img src="assets/git-icon.png" class="icons">
      </a>
      <a href="https://www.behance.net/johntsilikas">
        <img src="assets/behance-icon.png" class="icons">
      </a>
      <a href="https://www.linkedin.com/in/ioannis-tsilikas-92390a276/">
        <img src="assets/linkedin-icon.png" class="icons">
      </a>
      <a href="assets/cv.pdf" target="_blank"><img src="assets/cv.png" class="icons"></a>
    </div>
  </div>
</body>
</html>